body {
	font-family:  Arial,Tahoma, Verdana, sans-serif;
	font-size: 18px;
	color: #333333;	
}

a {
color:#0082D6;
text-decoration: none;
}

a:hover {
color: #333333;
text-decoration: none;
} 

.instruction {
	font-size: 12px;
	color: #333333;	
}
